@charset "UTF-8";
/* CSS Document */


*{box-sizing: border-box;}

body{Margin:0px;}



.pagina{
	width: auto;
	max-height: 1000px;
	background-color: darkblue;
	height: 1000px;
	padding: 20px;
}

p{
	color: white;
	font-family: 
Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}


.skyp{
	position:static;
	width: 150px;
	float: left;
}

img{width: 100%;}

.izq, .der{
	
	width: 50%;
	background-color: yellow;
	height: 200px;
	float: left;
}

.der{
	background-color: green;
}

@media screen and (max-width:500px){
	.izq, .der{
		width: 100%;
	}
}


a.linkmenu{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;
	padding:10px;
	text-decoration: none;
	display:inter-block;
}

a.linkmenu:hover{
color:#0000FF;
}

a.linkmenu:active{
text-transform:uppercase;
}


a.linkmenu:visited{
color:#990000;}

.derecha{
text-align:right;
margin:-10px;
}

.img3{width:50px;
margin:10px;
}

.img3:hover{
transform: scale(1.4);}

div.menu{
	background-color: blue;
	height: 75px;
	text-align: right;
}

div.center{
	width: 100%;
	margin: auto;
}


p.tema{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
}

.temas{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:black;
}


.img{
	width: 100%;
}

.imglogo{
	width: 75px;
	height: 75px;
	float: left;
	
}

.img2{
width:120px;
margin:5px 10px 5px 10px;
}











/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
